/////////////////////////////////////////
// Colors
$light: #fff;
$light-100: #f1f2f6;
$light-200: #f1f5f8;
$light-300: #E7E7E7;
$light-400: #f4f7fc;
$light-500: #FBFBFC;
$dark: #000;
$dark-100: #6d6e7a;
$dark-200: #34495e;
$dark-300: #828A96;
$dark-400: #171F34;
$blue: #7d5fff;
$blue-200: #c5b8ff;
$blue-300: rgba(125, 95, 255, .5);
$success: #2FB182;
$success-100: #ebf9f4;
$primary: #003171;
$primary-100: #e0e8ff;
$warning: #FFAE00;
$warning-100: #fff2e7;
$danger: #DE486C;
$danger-100: #fde1e8;
$danger-200: #FFF9F9;

/////////////////////////////////////////
// Font family
$primary-font: 'Poppins', sans-serif;


/////////////////////////////////////////
// Shadows
$shadow: rgba(100, 100, 111, 0.2) 0 .7rem 2.9rem 0;
$shadow-sm: rgba(149, 157, 165, 0.2) 0 .8rem 2.4rem;
$shadow-md: rgba(99, 99, 99, 0.2) 0 .2rem .8rem 0;
$shadow-lg: rgba(0, 0, 0, 0.25) 0 1.4rem 2.8rem, rgba(0, 0, 0, 0.22) 0 1rem 1rem;
$shadow-xl: rgba(0, 0, 0, 0.25) 0 2.5rem 5.0rem -1.2rem;

