* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
  background-color: $light;
}

.clickable {
  cursor: pointer;
}

.lead {
  font-size: 1.4rem;
  line-height: normal;
  font-weight: 400;
  margin-bottom: 2rem;
}