.pagination {
  .page-item {

    &.active {
      .page-link {
        color: $light;
        background-color: $blue;
        border-color: $blue;

        &:hover {
          color: $light;
          background-color: $blue;
          border-color: $blue;
        }
      }
    }
    .page-link {
      font-size: 1.4rem;
      line-height: 1.4rem;
      font-weight: 400;
      padding: 1rem 1.4rem;
      color: $blue;
      background-color: $dark-400;
      border-color: $dark-400;

      &:hover {
        color: $light;
        background-color: $blue;
        border-color: $blue;
      }

      &:focus {
        color: $light;
        background-color: $blue;
        border-color: $blue-200;
      }
    }
  }
}