.social-nav {
  .social-item {
    .nav-link {
      width: 3.5rem;
      height: 3.5rem;

      &:hover {
        i {
          transform: rotate(360deg);
        }
      }

      i {
        font-size: 1.2rem;
        line-height: 1.6rem;
        transition: .2s ease-in;
      }
    }
  }
}